body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 50vh; /* Ensure the header has enough height to display the background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-item {
    margin-bottom: 2rem;
}

.skill {
    background-color: #ff6347;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-align: center;
}

.publication {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publication img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
